.status-message {
  border: 1px solid #c00;
  background: #fac7c7;
  padding: 10px;
}

.outerwrapper {
  width: 100%;
  position: relative;
  border: 1px solid #c8c7cf;
}

.outerwrapper h1, .outerwrapper h2, .outerwrapper h3, .outerwrapper p, .outerwrapper ul {
  padding: 10px 10px 0 10px;
  margin: 0;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.outerwrapper .key span {
  width: 10px;
  height: 10px;
  display: inline-block;
}

.outerwrapper canvas {
  position: absolute;
}

.outerwrapper svg {
  margin: 20px 0;
}

.outerwrapper svg text {
  font-size: 10px;
  pointer-events: none;
  -webkit-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

.outerwrapper svg text.hide-svg-text {
  opacity: 0;
}

.outerwrapper .axis {
  shape-rendering: crispEdges;
}

.outerwrapper .axis text {
  font-size: 12px;
}
