.status-message {
	border: 1px solid #c00;
	background: #fac7c7;
	padding: 10px;
}

.outerwrapper {
	width: 100%;
	position: relative;
	border: 1px solid #c8c7cf;

	h1,h2,h3,p,ul {
		padding: 10px 10px 0 10px;
		margin: 0;
		hyphens: auto;
	}

	.key span {
		width: 10px;
		height: 10px;
		display: inline-block;
	}

	// Canvas 
	canvas {
		position: absolute;
	}

	// SVG
	svg {
		
		// position: absolute;
		margin: 20px 0;

		text {
			font-size: 10px;

			pointer-events: none;
			transition: opacity 200ms linear;
		}

		text.hide-svg-text {
			opacity: 0;
		}

	}

	.axis {
		shape-rendering: crispEdges;

		text {
			font-size: 12px;
		}
	}



} // outerwrapper

